/* color principal */
/* color grediente */
/* letras para fondo oscuro */
/* posible color de fondo */
/* posible color de letras y temporizador */
/* posible color de fondo */
/* letras para fondo claro*/
/* mixin para flex */
.head__img-hero {
  background: url(../img/hero1.webp) no-repeat 75% 75%/cover fixed, linear-gradient(120deg, rgba(219, 61, 122, 0.4) 0%, rgba(225, 14, 14, 0.4) 100%); }

.container-hero-burga {
  background-image: linear-gradient(90deg, #f00000 0%, #c20a0a 100%);
  height: 100vh;
  width: 100%; }
  .container-hero-burga .container-hero-burga__img {
    background: url(../img/burga.webp) no-repeat 75% 100%/cover; }

.img-hero, .head__img-hero, .container-hero-burga .container-hero-burga__img {
  background-blend-mode: color-burn;
  height: 40.85rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Lobster', cursive;
  scroll-behavior: smooth;
  font-size: 16px; }

body {
  background-color: #e6e9e2;
  color: #0f1224;
  cursor: default; }

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  height: 3.75rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.875rem 10%;
  position: fixed;
  text-align: center;
  top: 0;
  background-color: #f00000;
  transition: background-color .5s ease, height .5s ease, color .4s ease;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.4); }
  .navbar .navbar__links {
    display: none; }
  .navbar.open {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: #f00000; }
    .navbar.open .navbar__links {
      display: block; }
    .navbar.open .li1 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .li2 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .navbar__links li {
      display: flex; }
  .navbar .navbar__hamburger {
    position: absolute;
    cursor: pointer;
    top: .9375rem;
    right: 5%;
    z-index: 5; }
    .navbar .navbar__hamburger .navbar__line {
      background: #e6e9e2;
      margin: .3125rem;
      height: .1875rem;
      width: 1.875rem; }
  .navbar .navbar__links {
    text-align: center;
    cursor: pointer;
    transition: all 1s ease; }
    .navbar .navbar__links .navbar__li,
    .navbar .navbar__links .navbar__a {
      list-style: none;
      text-decoration: none; }
    .navbar .navbar__links .navbar__li {
      display: inline-block;
      padding: 0 1.25rem; }
    .navbar .navbar__links .navbar__li .navbar__a {
      color: #e6e9e2;
      transition: all .3s ease 0s; }
    .navbar .navbar__links .navbar__li a:hover {
      color: #fbeb04; }
  .navbar .logo {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #e6e9e2;
    transition: all .3s ease 0s; }
    .navbar .logo:hover {
      transform: scale(1.2);
      color: #e6e9e2; }
  @media screen and (min-width: 53.8125rem) {
    .navbar {
      background-color: transparent;
      height: 5rem;
      font-size: 1.25rem;
      box-shadow: none; }
      .navbar.open {
        flex-direction: row;
        height: 3.75rem;
        justify-content: space-between;
        position: fixed; }
        .navbar.open .navbar__links {
          display: inline-block; }
        .navbar.open .li1 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .li2 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .navbar__links li {
          display: inline-block; }
      .navbar.red {
        height: 3.75rem;
        background-image: linear-gradient(90deg, #f00000 0%, #c20a0a 100%);
        box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.4); }
      .navbar .navbar__links {
        display: block; }
      .navbar .navbar__hamburger {
        display: none; }
      .navbar .li1 {
        transform: translateX(-6.25rem); }
      .navbar .li2 {
        transform: translateX(6.25rem); }
      .navbar .logo {
        color: #fbeb04; }
      .navbar .navbar__links .navbar__li .navbar__a {
        color: #fbeb04; }
        .navbar .navbar__links .navbar__li .navbar__a:hover {
          color: #e6e9e2; }
        .navbar .navbar__links .navbar__li .navbar__a.color-grey {
          color: #e6e9e2;
          transition: all .5s ease; }
          .navbar .navbar__links .navbar__li .navbar__a.color-grey:hover {
            color: #fbeb04; }
      .navbar .color-grey {
        color: #e6e9e2; }
        .navbar .color-grey:hover {
          color: #fbeb04; } }

.neon {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  transition: all .4s ease;
  animation: neon .8s ease-out infinite backwards;
  display: block; }

@keyframes neon {
  0% {
    text-shadow: 0 0 3px #e6e9e2, 0 0 3px #0066cc; }
  100% {
    text-shadow: 0 0 3px #e6e9e2, 0 0 4px #004d99, 0 0 6px #004d99, 0 0 10px #0066cc, 0 0 15px #004d99, 0 0 25px #004d99; } }

.extras,
.burgas {
  background-image: linear-gradient(90deg, #f00000 0%, #c20a0a 100%);
  width: 100%;
  height: 1500px;
  text-align: center;
  color: #e6e9e2; }
  @media screen and (min-width: 43.75rem) {
    .extras,
    .burgas {
      height: 1000px; }
      .extras .card,
      .burgas .card {
        margin: 2rem 1rem 2rem 0; } }
  @media screen and (min-width: 63.25rem) {
    .extras,
    .burgas {
      height: 100vh; } }

.card__container-extras,
.card__container-burgas {
  display: flex;
  justify-content: space-evenly;
  margin: 2rem;
  flex-wrap: wrap; }

.card {
  width: 300px;
  height: 400px;
  border: 1px solid #fff;
  display: inline-flex;
  border-radius: .3125rem;
  box-shadow: 0.125rem 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.4);
  flex-wrap: wrap;
  transition: all .5s ease;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 2rem 0 2rem 0; }
  .card:hover {
    margin-top: 1rem; }
  .card .card__img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    display: block;
    align-self: start;
    cursor: pointer;
    transition: all .4s ease-out; }
    .card .card__img:hover {
      transform: scale(1.2); }
  .card .popup:hover {
    transform: scale(1); }
  .card .card__h3 {
    text-transform: capitalize;
    font-size: 1.25rem; }
  .card .card__content {
    font-size: 1.15rem; }
  .card .card__precio {
    display: block;
    margin-top: 5px; }
  .card .card__button {
    display: inline;
    height: 2.5rem;
    width: 5rem;
    border-radius: 5px;
    text-decoration: none;
    border-style: none;
    border: none;
    box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: 'Lobster', cursive;
    color: #0f1224;
    background-image: linear-gradient(45deg, #ebdb00 0%, #fbeb09 37%, #eae166 55%);
    background-size: 200% 200%;
    background-position-x: 100%;
    background-position-y: 0;
    transition: all .5s ease; }
    .card .card__button:hover {
      background-position: 0 90%; }

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .125rem;
  grid-auto-rows: 21.875rem;
  /* hay que darle un height a la imagen para que funcione */
  padding: .125rem 0; }
  .galeria .galeria__img {
    object-fit: cover;
    /* es para que no se distorsionen las imagenes */
    transition: all .5s ease-out, filter .5s ease-out;
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.8;
    cursor: pointer; }
    .galeria .galeria__img:hover {
      filter: grayscale(0);
      opacity: 1; }
  @media screen and (min-width: 43.75rem) {
    .galeria {
      /* media querie 700px */
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 62.5rem) {
    .galeria {
      /* media querie 1000px */
      grid-template-columns: repeat(3, 1fr); } }

/*fin estilos seccion gallery */
.ventana-popup, .card .popup, .galeria .popup {
  position: fixed;
  object-fit: cover;
  top: calc(15% - 35px);
  left: 2.5%;
  height: calc(100% - 100px);
  width: 95%;
  z-index: 100;
  filter: grayscale(0);
  box-shadow: -1px 10px 27px 50px rgba(0, 0, 0, 0.438);
  border-radius: 5px;
  transition: all .5s ease-out;
  opacity: 1; }
  @media screen and (min-width: 300px) {
    .ventana-popup, .card .popup, .galeria .popup {
      object-fit: cover; } }

.footer {
  height: 6rem;
  background-image: linear-gradient(90deg, #f00000 0%, #c20a0a 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #e6e9e2; }
  @media screen and (min-width: 22.5rem) {
    .footer {
      height: 4rem; } }
  @media screen and (min-width: 38.125rem) {
    .footer {
      height: 2.75rem; } }
  .footer .footer__media,
  .footer .footer__info {
    margin: 0 .625rem; }
  .footer .footer__a {
    text-decoration: none;
    color: #e6e9e2;
    margin-left: .6125rem;
    transition: all .5s ease;
    cursor: pointer; }
    .footer .footer__a:hover {
      color: #fbeb04; }
  .footer .footer__a-svg {
    transform: translateY(0.22rem); }
