/* color principal */
/* letras para fondo oscuro */
/* posible color de fondo */
/* posible color de letras y temporizador */
/* posible color de fondo */
/* letras para fondo claro*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Lobster', cursive;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  font-size: 16px; }

body {
  background-color: #e6e9e2;
  color: #0f1224; }

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  height: 3.75rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.875rem 10%;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 1s ease;
  width: 100%;
  z-index: 100;
  background-color: #f00000; }
  .navbar .navbar__links {
    display: none; }
  .navbar.open {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: #f00000; }
    .navbar.open .navbar__links {
      display: block; }
    .navbar.open .li1 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .li2 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .navbar__links li {
      display: flex; }
  .navbar .navbar__hamburger {
    position: absolute;
    cursor: pointer;
    top: .9375rem;
    right: 5%;
    z-index: 5; }
    .navbar .navbar__hamburger .navbar__line {
      background: #e6e9e2;
      margin: .3125rem;
      height: .1875rem;
      width: 1.875rem; }
  .navbar .navbar__links {
    text-align: center;
    cursor: pointer;
    transition: all 1s ease; }
    .navbar .navbar__links .navbar__li,
    .navbar .navbar__links .navbar__a {
      list-style: none;
      text-decoration: none; }
    .navbar .navbar__links .navbar__li {
      display: inline-block;
      padding: 0 1.25rem; }
    .navbar .navbar__links .navbar__li .navbar__a {
      color: #e6e9e2;
      transition: all .3s ease 0s; }
    .navbar .navbar__links .navbar__li a:hover {
      color: #fbeb04; }
  .navbar .logo {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #e6e9e2;
    transition: all .3s ease 0s; }
    .navbar .logo:hover {
      transform: scale(1.2);
      color: #fbeb04; }
  @media screen and (min-width: 53.125rem) {
    .navbar {
      background-color: transparent; }
      .navbar.open {
        flex-direction: row;
        height: 3.75rem;
        justify-content: space-between; }
        .navbar.open .navbar__links {
          display: inline-block; }
        .navbar.open .li1 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .li2 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .navbar__links li {
          display: inline-block; }
      .navbar.red {
        background-color: #f00000;
        box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2); }
      .navbar .navbar__links {
        display: block; }
      .navbar .navbar__hamburger {
        display: none; }
      .navbar .li1 {
        transform: translateX(-6.25rem); }
      .navbar .li2 {
        transform: translateX(6.25rem); }
      .navbar .logo {
        color: #0f1224; }
      .navbar .navbar__links .navbar__li .navbar__a {
        color: #0f1224; }
        .navbar .navbar__links .navbar__li .navbar__a.color-grey {
          color: #e6e9e2;
          transition: all .5s ease; }
          .navbar .navbar__links .navbar__li .navbar__a.color-grey:hover {
            color: #fbeb04; }
      .navbar .color-grey {
        color: #e6e9e2; } }

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .125rem;
  grid-auto-rows: 21.875rem;
  /* hay que darle un height a la imagen para que funcione */
  padding: .125rem 0; }
  .galeria .galeria__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* es para que no se distorsionen las imagenes */ }
  @media screen and (min-width: 43.75rem) {
    .galeria {
      /* media querie 700px */
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 62.5rem) {
    .galeria {
      /* media querie 1000px */
      grid-template-columns: repeat(3, 1fr); } }

/*fin estilos seccion gallery */
