/* color principal */
/* letras para fondo oscuro */
/* posible color de fondo */
/* posible color de letras y temporizador */
/* posible color de fondo */
/* letras para fondo claro*/
/* mixin para flex */
.head__img-hero {
  background: url(../img/hero1.webp) no-repeat 75% 75%/cover fixed, linear-gradient(120deg, rgba(219, 61, 122, 0.4) 0%, rgba(225, 14, 14, 0.4) 100%); }

.img-hero-burga {
  background: url(../img/burga.webp) no-repeat 75% 100%/cover;
  background-blend-mode: none; }

.divg {
  background-image: linear-gradient(120deg, #f00000 0%, #c20a0a 100%);
  height: 105vh;
  width: 100%; }

.img-hero, .head__img-hero, .img-hero-burga {
  background-blend-mode: color-burn;
  height: 40.85rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  transition: all 1s ease; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Lobster', cursive;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  font-size: 16px; }

body {
  background-color: #e6e9e2;
  color: #0f1224; }

.navbar {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  height: 3.75rem;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1.875rem 10%;
  position: fixed;
  text-align: center;
  top: 0;
  background-color: #f00000;
  transition: background-color .5s ease, height .5s ease, color .4s ease;
  width: 100%;
  z-index: 1000; }
  .navbar .navbar__links {
    display: none; }
  .navbar.open {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    color: #f00000; }
    .navbar.open .navbar__links {
      display: block; }
    .navbar.open .li1 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .li2 li:nth-child(1) {
      margin-bottom: 3.125rem; }
    .navbar.open .navbar__links li {
      display: flex; }
  .navbar .navbar__hamburger {
    position: absolute;
    cursor: pointer;
    top: .9375rem;
    right: 5%;
    z-index: 5; }
    .navbar .navbar__hamburger .navbar__line {
      background: #e6e9e2;
      margin: .3125rem;
      height: .1875rem;
      width: 1.875rem; }
  .navbar .navbar__links {
    text-align: center;
    cursor: pointer;
    transition: all 1s ease; }
    .navbar .navbar__links .navbar__li,
    .navbar .navbar__links .navbar__a {
      list-style: none;
      text-decoration: none; }
    .navbar .navbar__links .navbar__li {
      display: inline-block;
      padding: 0 1.25rem; }
    .navbar .navbar__links .navbar__li .navbar__a {
      color: #e6e9e2;
      transition: all .3s ease 0s; }
    .navbar .navbar__links .navbar__li a:hover {
      color: #fbeb04; }
  .navbar .logo {
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #e6e9e2;
    transition: all .3s ease 0s; }
    .navbar .logo:hover {
      transform: scale(1.2);
      color: #e6e9e2; }
  @media screen and (min-width: 53.125rem) {
    .navbar {
      background-color: transparent;
      height: 5rem;
      font-size: 1.25rem; }
      .navbar.open {
        flex-direction: row;
        height: 3.75rem;
        justify-content: space-between;
        position: fixed; }
        .navbar.open .navbar__links {
          display: inline-block; }
        .navbar.open .li1 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .li2 li:nth-child(1) {
          margin-bottom: 0; }
        .navbar.open .navbar__links li {
          display: inline-block; }
      .navbar.red {
        height: 3.75rem;
        background-image: linear-gradient(120deg, #f00000 0%, #c20a0a 100%);
        box-shadow: 0 0.125rem 0.3125rem 0.0625rem rgba(0, 0, 0, 0.2); }
      .navbar .navbar__links {
        display: block; }
      .navbar .navbar__hamburger {
        display: none; }
      .navbar .li1 {
        transform: translateX(-6.25rem); }
      .navbar .li2 {
        transform: translateX(6.25rem); }
      .navbar .logo {
        color: #fbeb04; }
      .navbar .navbar__links .navbar__li .navbar__a {
        color: #fbeb04; }
        .navbar .navbar__links .navbar__li .navbar__a:hover {
          color: #e6e9e2; }
        .navbar .navbar__links .navbar__li .navbar__a.color-grey {
          color: #e6e9e2;
          transition: all .5s ease; }
          .navbar .navbar__links .navbar__li .navbar__a.color-grey:hover {
            color: #fbeb04; }
      .navbar .color-grey {
        color: #e6e9e2; }
        .navbar .color-grey:hover {
          color: #fbeb04; } }

.galeria {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: .125rem;
  grid-auto-rows: 21.875rem;
  /* hay que darle un height a la imagen para que funcione */
  padding: .125rem 0; }
  .galeria .galeria__img {
    object-fit: cover;
    /* es para que no se distorsionen las imagenes */
    transition: all .5s ease-out, filter .5s ease-out;
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    opacity: 0.8; }
    .galeria .galeria__img:hover {
      filter: grayscale(0);
      opacity: 1; }
  .galeria .popup {
    position: fixed;
    object-fit: scale-down;
    top: calc(15% - 35px);
    left: 2.5%;
    height: calc(100% - 100px);
    width: 95%;
    z-index: 100;
    filter: grayscale(0);
    box-shadow: -1px 10px 27px 50px rgba(0, 0, 0, 0.438);
    border-radius: 5px;
    transition: all .5s ease-out;
    opacity: 1; }
    @media screen and (min-width: 300px) {
      .galeria .popup {
        object-fit: cover; } }
  @media screen and (min-width: 43.75rem) {
    .galeria {
      /* media querie 700px */
      grid-template-columns: repeat(2, 1fr); } }
  @media screen and (min-width: 62.5rem) {
    .galeria {
      /* media querie 1000px */
      grid-template-columns: repeat(3, 1fr); } }

/*fin estilos seccion gallery */
/*fin estilos seccion gallery */
.footer {
  height: 6rem;
  background-image: linear-gradient(120deg, #f00000 0%, #c20a0a 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  color: #e6e9e2; }
  @media screen and (min-width: 22.5rem) {
    .footer {
      height: 4rem; } }
  @media screen and (min-width: 38.125rem) {
    .footer {
      height: 2.75rem; } }
  .footer .footer__media,
  .footer .footer__info {
    margin: 0 .625rem; }
  .footer .footer__a {
    text-decoration: none;
    color: #e6e9e2;
    margin-left: .6125rem;
    transition: all .5s ease;
    cursor: pointer; }
    .footer .footer__a:hover {
      color: #fbeb04; }
    .footer .footer__a footer svg {
      transform: translateY(1.875rem); }
