.galeria {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .125rem;
    grid-auto-rows: 21.875rem;
    /* hay que darle un height a la imagen para que funcione */
    padding: .125rem 0;
    background-image: none;
    background-color: $color-grey;
    .galeria__img {
        object-fit: cover;
        /* es para que no se distorsionen las imagenes */
        transition: all .5s ease-out, filter .5s ease-out;
        @include tamaños(100%, 100%);
        filter: grayscale(1);
        opacity: 0.8;
        cursor: pointer;
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
    .popup {
        @extend .ventana-popup;
    }
    @media screen and (min-width: 43.75rem) {
        /* media querie 700px */
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 62.5rem) {
        /* media querie 1000px */
        grid-template-columns: repeat(3, 1fr);
    }
}


/*fin estilos seccion gallery */