.head__img-hero {
    background: url(../img/hero1.webp) no-repeat 50% 100% / cover fixed, linear-gradient(120deg, hsla(337, 69%, 55%, .4) 0%, hsla(0, 88%, 47%, .4) 100%);
    @extend .img-hero;
}

.container-hero-burga {
    background-image: $color-red-gradient;
    height: 100vh;
    width: 100%;
    .container-hero-burga__img {
        background: url(../img/burga.webp) no-repeat 50% 100% / cover, ;
        @extend .img-hero;
    }
}

.img-hero {
    background-blend-mode: color-burn;
    @include tamaños(40.850rem, 100%);
    @include flex(flex, center, center);
    overflow: hidden;
    position: relative;
    transition: all 1s ease;
}