.contenedor-modal {
    max-width: 600px;
    @include tamaños(100%, 100%);
    transition: max-width 0.3s ease-in-out;
    @media (min-width: 42.5rem) {
        max-width: 100%;
    }
    .contenedor-modal__circle {
        position: fixed;
        background: url(../img/burga.webp), linear-gradient(45deg, hsl(27, 95%, 50%), $color-light-yellow);
        background-size: cover;
        background-repeat: no-repeat;
        background-blend-mode: overlay;
        @include tamaños(3.125rem, 3.125rem);
        border-radius: 6.25rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        z-index: 900;
        .contenedor-modal__article {
            height: 0;
            transition: height 0.8s cubic-bezier(.05, .72, .42, 1);
            background-color: hsl(0, 0%, 97%);
            box-sizing: border-box;
            box-shadow: inset 0 .9375rem .625rem -0.625rem rgba(0, 0, 0, 0.1);
            .contenedor-modal__contenido {
                display: inline-block;
                padding: .9375rem;
                opacity: 0;
                max-height: 100%;
                overflow-y: auto;
                color: #333;
                text-align: center;
                width: 100%;
                height: 100%;
                .contenedor-modal__h2 {
                    color: darken($color-light-yellow, 2%);
                    font-size: 3rem;
                }
            }
        }
        &.contenedor-modal__open {
            border-radius: .3125rem;
            box-shadow: 0 0 0 70vmax rgba(0, 0, 0, 0.3);
            left: 1.875rem;
            top: 1.875rem;
            @include tamaños(calc(100% - 3.75rem), calc(100% - 3.75rem));
            transition: width 0.7s cubic-bezier(.77, .07, .53, 1), border-radius 0.5s cubic-bezier(.05, .72, .42, 1), height 0.7s cubic-bezier(.77, .07, .53, 1), top 0.8s cubic-bezier(.05, .72, .42, 1), left 1.5s ease-out, box-shadow 0.3s ease-out;
            text-align: center;
            z-index: 2000;
            & .contenedor-modal__cerrar-modal {
                width: 30px;
                max-width: 30px;
                padding: 0;
                height: 30px;
                max-height: 30px;
                margin: 2px 2px auto auto;
                &.botones {
                    box-shadow: none;
                    background-image: $color-red-gradient;
                }
            }
            .contenedor-modal__article {
                height: 90%;
                transition: all 1.4s cubic-bezier(.77, .07, .53, 1);
                .contenedor-modal__contenido {
                    opacity: 1;
                    transition: opacity 1.2s cubic-bezier(1, .01, 1, .01);
                }
            }
        }
        &.contenedor-modal__close {
            top: calc(50% - 1.125rem);
            left: calc(1% + .0625rem);
            transition: all 0.4s ease-out, border-radius 0.5s cubic-bezier(.05, .72, .42, 1), top 0.5s ease-out, left 0.5s ease-in, box-shadow 0.5s ease-out;
            cursor: pointer;
            box-shadow: 0 0 0 rgba(0, 0, 0, 0);
            & .contenedor-modal__cerrar-modal {
                opacity: 0;
                height: 100%;
            }
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}