/* color principal */

$color-red: hsl(0, 100%, 47%);

/* color grediente */

$color-red-gradient: linear-gradient(90deg, hsl(0, 100%, 47%) 0%, hsl(0, 90%, 40%) 100%);
$color-yellow-gradient:linear-gradient(45deg, hsl(56, 100%, 46%) 0%, hsl(56, 97%, 51%) 37%, hsl(56, 76%, 66%) 55%);

/* letras para fondo oscuro */

$color-grey: hsl(90, 14%, 90%);

/* posible color de fondo */

$color-light-blue:hsl(184, 33%, 37%);

/* posible color de letras y temporizador */

$color-light-yellow:hsl(56, 97%, 50%);

/* posible color de fondo */

$color-blue:hsl(230, 89%, 25%);

/* letras para fondo claro*/

$color-black:hsl(230, 43%, 10%);