/* color principal */

$color-red: hsl(0, 100%, 47%);
$color-red-gradient: linear-gradient(120deg, hsl(0, 100%, 47%) 0%, hsl(0, 90%, 40%) 100%);

/* letras para fondo oscuro */

$color-grey: hsl(90, 14%, 90%);

/* posible color de fondo */

$color-light-blue:hsl(184, 33%, 37%);

/* posible color de letras y temporizador */

$color-light-yellow:hsl(56, 97%, 50%);

/* posible color de fondo */

$color-blue:hsl(230, 89%, 25%);

/* letras para fondo claro*/

$color-black:hsl(230, 43%, 10%);